<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="test.mapper.BookMapper">

	<!-- id 应该是接口中的方法，结果类型resultType 如没有配置别名，则应该使用实体类全名称 -->
	
	<!--获得所有图书 -->
	<select id="getAllBooks" resultType="test.entity.Book">
		select id,title,price,publishDate from books
	</select>
	
	<!-- 增加 -->
	<insert id="add">
		insert into books(title,price,publishDate) values(#{title},#{price},#{publishDate})
	</insert>
	
	<!-- 删除 -->
	<delete id="delete">
		delete from books where id=#{id}
	</delete>
	
	<!-- 更新 -->
	<update id="update">
		update books set title=#{title},price=#{price},publishDate=#{publishDate}
		where id=#{id}
	</update>
	
</mapper>